.cartesi
dapp
contracts/broadcast/Deploy.s.sol/31337/run-[0-9]*.json
contracts/broadcast/Deploy.s.sol/31337/dry-run/
contracts/cache/Deploy.s.sol/31337/run-[0-9]*.json
contracts/cache/Deploy.s.sol/31337/dry-run/
